<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Fragmento estático para enlaces de navegación -->
<div th:fragment="links">
    <ul style="list-style: none; display: flex; gap: 15px; margin: 0; padding: 0;">
        <li><a href="/" style="text-decoration: none; color: black;">Inicio</a></li>
        <li><a href="/about" style="text-decoration: none; color: black;">Acerca de</a></li>
        <li><a href="/contact" style="text-decoration: none; color: black;">Contacto</a></li>
    </ul>
</div>
</body>
</html>